apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    {{- include "duplicate-detector-controlller.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  replicas: 1
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        {{- include "duplicate-detector-controlller.labels" . | nindent 8 }}
        app: {{ .Chart.Name }}
    spec:
      serviceAccountName: {{ .Chart.Name }}
      containers:
        - name: operator
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: SYSTEM_TOOLS_IMAGE
              value: "{{ .Values.systemToolsImage.repository }}:{{ .Values.systemToolsImage.version }}"
            - name: PVC_STORAGE_CLASS_NAME
              value: {{ .Values.persistentVolumeClaim.storageClassName }}
            - name: PVC_DEFAULT_SIZE
              value: {{ .Values.persistentVolumeClaim.defaultSize }}
            - name: CHECK_CRD_ENV_KEY
              value: "false"
            - name: KILL_TAILING_SIDECARS
              value: {{ .Values.killTailingSidecars }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      tolerations:
        - effect: NoSchedule
          key: cpuBrand
          operator: Equal
          value: graviton2
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
              - key: kubernetes.io/arch
                operator: In
                values:
                - arm64
